.redirection {
  align-items: center;
  text-align: center;
}

.wait-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

.countdown {
  margin-top: 8px;
}

mat-progress-bar {
  width: 100%;
}

.full-width {
  width: 100%;
  margin-top: 16px;
}
