<app-auth-layout>
  <span authLayoutTitle *transloco="let t">{{ t('changePassword.title') }}</span>
  <div class="vertical-container" *transloco="let t">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="emailFC">
      @if (emailFC.hasError('required')) {
        <mat-error>{{ t('changePassword.errors.emailRequired') }}</mat-error>
      } @else if (emailFC.hasError('email')) {
        <mat-error>{{ t('changePassword.errors.emailInvalid') }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('changePassword.currentPassword') }}</mat-label>
      <input matInput type="password" [formControl]="currentPasswordFC" #currentPasswordInput>
      <button mat-icon-button matSuffix (click)="currentPasswordInput.type === 'password' ? currentPasswordInput.type = 'text' : currentPasswordInput.type = 'password'" type="button">
        <mat-icon>{{ currentPasswordInput.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (currentPasswordFC.hasError('required')) {
        <mat-error>{{ t('changePassword.errors.currentPasswordRequired') }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('changePassword.newPassword') }}</mat-label>
      <input matInput type="password" [formControl]="newPasswordFC" #newPasswordInput>
      <button mat-icon-button matSuffix [disabled]="newPasswordFC.disabled" (click)="newPasswordInput.type === 'password' ? newPasswordInput.type = 'text' : newPasswordInput.type = 'password'" type="button">
        <mat-icon>{{ newPasswordInput.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (newPasswordFC.hasError('required')) {
        <mat-error>{{ t('changePassword.errors.newPasswordRequired') }}</mat-error>
      } @else if (newPasswordFC.hasError('passwordWeak')) {
        <mat-error>{{ t('changePassword.errors.passwordWeak') }}</mat-error>
      }
    </mat-form-field>
    <app-password-rules [password]="newPasswordFC.value" [email]="emailFC.value" />
    <mat-form-field>
      <mat-label>{{ t('changePassword.confirmPassword') }}</mat-label>
      <input matInput type="password" [formControl]="confirmPasswordFC" #confirmPasswordInput>
      <button mat-icon-button matSuffix [disabled]="confirmPasswordFC.disabled" (click)="confirmPasswordInput.type === 'password' ? confirmPasswordInput.type = 'text' : confirmPasswordInput.type = 'password'" type="button">
        <mat-icon>{{ confirmPasswordInput.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (confirmPasswordFC.hasError('required')) {
        <mat-error>{{ t('changePassword.errors.confirmPasswordRequired') }}</mat-error>
      } @else if (confirmPasswordFC.hasError('passwordMismatch')) {
        <mat-error>{{ t('changePassword.errors.passwordMismatch') }}</mat-error>
      }
    </mat-form-field>
    <button mat-flat-button color="primary" class="full-width" (click)="onSubmit()" [disabled]="submitting() || !changePasswordFG.valid">
      {{ t('changePassword.submit') }}
    </button>
  </div>
</app-auth-layout>
