<app-auth-layout>
  <span authLayoutTitle *transloco="let t">{{ t('forgotPasswordVerify.title') }}</span>
  <div class="vertical-container" *transloco="let t">
    @if (invalidLink) {
      <mat-icon class="status-icon warn">error</mat-icon>
      <p>{{ t('forgotPasswordVerify.invalidLink') }}</p>
    } @else {
      <p>{{ t('forgotPasswordVerify.description') }}</p>
      <mat-form-field>
        <mat-label>{{ t('forgotPasswordVerify.newPassword') }}</mat-label>
        <input matInput type="password" [formControl]="newPasswordFC" #passwordInput>
        <button mat-icon-button matSuffix (click)="passwordInput.type === 'password' ? passwordInput.type = 'text' : passwordInput.type = 'password'" type="button">
          <mat-icon>{{ passwordInput.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (newPasswordFC.hasError('required')) {
          <mat-error>{{ t('forgotPasswordVerify.errors.passwordRequired') }}</mat-error>
        } @else if (newPasswordFC.hasError('passwordWeak')) {
          <mat-error>{{ t('forgotPasswordVerify.errors.passwordWeak') }}</mat-error>
        }
      </mat-form-field>
      <app-password-rules [password]="newPasswordFC.value" [email]="email" />
      <mat-form-field>
        <mat-label>{{ t('forgotPasswordVerify.confirmPassword') }}</mat-label>
        <input matInput type="password" [formControl]="confirmPasswordFC" #confirmInput>
        <button mat-icon-button matSuffix (click)="confirmInput.type === 'password' ? confirmInput.type = 'text' : confirmInput.type = 'password'" type="button">
          <mat-icon>{{ confirmInput.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (confirmPasswordFC.hasError('required')) {
          <mat-error>{{ t('forgotPasswordVerify.errors.confirmPasswordRequired') }}</mat-error>
        } @else if (confirmPasswordFC.hasError('passwordMismatch')) {
          <mat-error>{{ t('forgotPasswordVerify.errors.passwordMismatch') }}</mat-error>
        }
      </mat-form-field>
      <button mat-flat-button color="primary" class="full-width" (click)="onSubmit()" [disabled]="submitting() || !resetFG.valid">
        {{ t('forgotPasswordVerify.submit') }}
      </button>
    }
  </div>
</app-auth-layout>
