@use '@angular/material' as mat;

@mixin color($theme) {
  app-password-rules {
    .passed {
      color: mat.m2-get-color-from-palette(mat.$m2-green-palette, 500);
    }

    .failed {
      color: mat.get-theme-color($theme, foreground, secondary-text);
    }
  }
}

@mixin typography($theme) {
  app-password-rules {
    li {
      font: mat.get-theme-typography($theme, caption);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
